{% extends 'portfolio_app/base.html' %}
{% load static %}

{% block title %}
contact
{% endblock %}

{% block content %}
    <section class="paralax-mf footer-paralax bg-image sect-mt4 route" style="background-image: url({% static 'portfolio_app/images/overlay-bg.jpg' %})">
    <div class="overlay-mf"></div>
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="contact-mf">
                    <div id="contact" class="box-shadow-full">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="title-box-2">
                                    <h5 class="title-left">
                                        Send Us A Message
                                    </h5>
                                </div>
                                <div>
                                    <form action="." method="post" role="form" class="contactForm">
                                        {% csrf_token %}
                                        <div>
                                        {% for message in messages %}
                                        <h4 style="color: green">{{ message }} </h4> 
                                        {% endfor %}
                                        </div>
                                        <div id="errormessage"></div>
                                        <div class="row">
                                            <div class="col-md-12 mb-3">
                                                <div class="form-group">
                                                    <input type="text" name="name" class="form-control" id="name"
                                                        placeholder="Name" data-rule="minlen:4" data-msg="Please enter at least 4 chars" />
                                                    <div class="validation"></div>
                                                </div>
                                            </div>
                                            <div class="col-md-12 mb-3">
                                                <div class="form-group">
                                                    <input type="email" class="form-control" name="email" id="email"
                                                        placeholder="Your Email" data-rule="email" data-msg="Please enter a valid email" />
                                                    <div class="validation"></div>
                                                </div>
                                            </div>
                                            <div class="col-md-12 mb-3">
                                                <div class="form-group">
                                                    <input type="text" class="form-control" name="subject" id="subject"
                                                        placeholder="Subject" data-rule="minlen:4" data-msg="Please enter at least 8 chars of subject" />
                                                    <div class="validation"></div>
                                                </div>
                                            </div>
                                            <div class="col-md-12 mb-3">
                                                <div class="form-group">
                                                    <textarea class="form-control" name="message" rows="5" data-rule="required"
                                                        data-msg="Please write something for us" placeholder="Message"></textarea>
                                                    <div class="validation"></div>
                                                </div>
                                            </div>
                                            <div class="col-md-12">
                                                <button type="submit" value="submit" class="button button-a button-big button-rouded">Send
                                                    Message</button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="title-box-2 pt-4 pt-md-0">
                                    <h5 class="title-left">
                                        Get in Touch
                                    </h5>
                                </div>
                                <div class="more-info">
                                    <p class="lead">
                                        Thanks for taking an interest in my skills! Fortunately, I am currently open to
                                        co-operation on new and existing
                                        projects. Please either fill out the contact information on the left or email
                                        me at <b>isikaume@gmail.com</b> and we
                                        an set up a meeting either in person or over the phone.
                                    </p>
                                    <ul class="list-ico">
                                        <!-- <li><span class="ion-ios-location"></span> 329 WASHINGTON ST BOSTON, MA 02108</li> -->
                                        <li><span class="ion-ios-telephone"></span> +234-706-426-8381</li>
                                        <li><span class="ion-email"></span> isikaume@gmail.com</li>
                                    </ul>
                                </div>
                                <div class="socials">
                                    <ul>
                                        <li><a href="http://www.facebook.com/isikaume"><span class="ico-circle"><i
                                                        class="ion-social-facebook"></i></span></a></li>
                                        <li><a href="http://www.instagram.com/uminem_u.m.e"><span class="ico-circle"><i
                                                        class="ion-social-instagram"></i></span></a></li>
                                        <li><a href="http://www.twitter.com/uminem16"><span class="ico-circle"><i class="ion-social-twitter"></i></span></a></li>
                                        <li><a href="http://www.pinterest.com/isikaume"><span class="ico-circle"><i
                                                        class="ion-social-pinterest"></i></span></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

 </section>
{% endblock %}